body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 100vh;
}

#container{
    width: 300px;
    height: 300px;
    border: black 3px solid;
    padding: 3px;
}

#aniBox{
    position: relative;
    left: 0;
    top: 0;
    background-color: white;

    --boxWidth: 50px;
    --boxHeight: 50px;

    width: var(--boxWidth);
    height: var(--boxHeight);
}