body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 100vh;
}

#container{
    --containerHeight: 300px;
    --containerWidth: 300px;

    width: var(--containerWidth);
    height: var(--containerHeight);
    border: black 3px solid;
    padding: 3px;
}

#aniBox{
    position: relative;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 1;

    --boxWidth: 50px;
    --boxHeight: 50px;

    width: var(--boxWidth);
    height: var(--boxHeight);
    animation-name: moveBox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate;
}

@keyframes moveBox{
    0%{

    }
    25%{
        left: calc(var(--containerWidth) - var(--boxWidth));
        top: 0;
        border-radius: 
    }
    50%{
        left: calc(var(--containerWidth) - var(--boxWidth));
       top: calc(var(--containerHeight) - var(--boxHeight));
    }
    75%{
        left:0;
        top: calc(var(--containerHeight) - var(--boxHeight));
    }
    100%{
        left: 0;
        top: 0;
    }
}