body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}

.container{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#articleHeader{
    --headerHeight: 250px;

    height: var(--headerHeight);
}

h1{
    font-size: 50px;
    position: relative;
}

p{
    position: relative;
}

.button{
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: white solid 1px;
    padding: 10px 20px;
    color: white;
}